In [1]:
import pandas as pd 

def load_to_memory(filename):
    data = pd.read_csv(f'{filename}', header=0) 
#     print(data.iloc[0])
    return data

time_series = '/Users/kaleighjaeger/Scripps/epidemiology/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
dataframe = load_to_memory(time_series)

def create_dataframe(df):
    print(df.columns[4])
    line = df.iloc[0]
    print(line[2])
    date = df.columns[4]
    
    print(df.at[0, 'Country/Region'], df.columns[4], df.at[0, date])
    new_dataframe = pd.DataFrame([df.at[0, 'Country/Region'], df.columns[4], df.at[0, date]])
    return new_dataframe

create_dataframe(dataframe)

1/22/20
33.93911
Afghanistan 1/22/20 0

             0
0  Afghanistan
1      1/22/20
2            0