In [85]:
import pandas as pd 
from pull_covid_data import pull_covid_data

pull_covid_data()

def load_to_memory(filename):
    data = pd.read_csv(f'{filename}', header=0) 
    return data

#Replace with testing file
time_series = '/Users/kaleighjaeger/Scripps/epidemiology/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
dataframe = load_to_memory(time_series)

def use_melt(df):
    melt_df = pd.melt(df, id_vars=['Country/Region'], value_vars=list(df.columns[4:]))
    melt_df.columns = ['Country/Region', 'Date', 'Cases']
    
    #Grouping by Country/Region and adding column "Cumulative Sum" as a result of groupby
    melt_df['Cumulative Sum'] = melt_df.groupby(['Country/Region'])['Cases'].cumsum(axis=0)
    
    #Changing date to proper format
    melt_df['Date'] = pd.to_datetime(melt_df['Date'])
    
    # 279 is the number of unique Country/Regions for the DataFrame
    return melt_df.tail(279)
    
use_melt(dataframe)

Here is the status update of COVID-19:

On branch master
Your branch is up to date with 'origin/master'.

nothing to commit, working tree clean

            Country/Region       Date   Cases  Cumulative Sum
148149         Afghanistan 2021-07-06  127464        20742904
148150             Albania 2021-07-06  132544        24802238
148151             Algeria 2021-07-06  142447        32820101
148152             Andorra 2021-07-06   13991         2905567
148153              Angola 2021-07-06   39375         6178651
...                    ...        ...     ...             ...
148423             Vietnam 2021-07-06   22341         1103416
148424  West Bank and Gaza 2021-07-06  314780        53675169
148425               Yemen 2021-07-06    6931         1222752
148426              Zambia 2021-07-06  167132        18280206
148427            Zimbabwe 2021-07-06   57963         8142767

[279 rows x 4 columns]

In [80]:
import unittest

class TestAnalysis(unittest.TestCase):
    def test_cumulative_sum(self):
        test_file_name = '/Users/kaleighjaeger/Scripps/epidemiology/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
        df = load_to_memory(test_file_name)
        use_melt(df)
        print(use_melt(df))
        
        self.assertTrue(df[df['Country/Region'] == 'Afghanistan'] & df[df['Date'] == ['2020-07-06']]) == 20742904
#         self.assertEqual(df[df['Country/Region'] == 'Zimbabwe'], 0)
#             & df['Date'] == ['2020-08-13'] == 500000
        
        
unittest.main(argv=[''], verbosity=2, exit=False)

test_cumulative_sum (__main__.TestAnalysis) ...

Using Melt Function
Using Melt Function
            Country/Region       Date   Cases  Cumulative Sum
148149         Afghanistan 2021-07-06  127464        20742904
148150             Albania 2021-07-06  132544        24802238
148151             Algeria 2021-07-06  142447        32820101
148152             Andorra 2021-07-06   13991         2905567
148153              Angola 2021-07-06   39375         6178651
...                    ...        ...     ...             ...
148423             Vietnam 2021-07-06   22341         1103416
148424  West Bank and Gaza 2021-07-06  314780        53675169
148425               Yemen 2021-07-06    6931         1222752
148426              Zambia 2021-07-06  167132        18280206
148427            Zimbabwe 2021-07-06   57963         8142767

[279 rows x 4 columns]

ERROR

======================================================================
ERROR: test_cumulative_sum (__main__.TestAnalysis)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Library/Python/3.8/site-packages/pandas/core/indexes/base.py", line 3080, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas/_libs/index.pyx", line 70, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/index.pyx", line 101, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/hashtable_class_helper.pxi", line 4554, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas/_libs/hashtable_class_helper.pxi", line 4562, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'Date'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "<ipython-input-80-f426da9e68f5>", line 11, in test_cumulative_sum
    self.assertTrue(df[df['Country/Region'] == 'Afghanistan'] & df[df['Date'] == ['2020-07-06']]) == 20742904
  File "/Library/Python/3.8/site-packages/pandas/core/frame.py", line 3024, in __getitem__
    indexer = self.columns.get_loc(key)
  File "/Library/Python/3.8/site-packages/pandas/core/indexes/base.py", line 3082, in get_loc
    raise KeyError(key) from err
KeyError: 'Date'

----------------------------------------------------------------------
Ran 1 test in 0.210s

FAILED (errors=1)

In [262]:
"""
This cell is for creating a test file to test that functions used in other cells work
"""

csv_file = '/Users/kaleighjaeger/Desktop/Test_CSV_1.csv'
# 'https://raw.githubusercontent.com/outbreak-info/JHU-CSSE/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
deaths_file = '~/Desktop/Deaths_Test_CSV.csv'
# 'https://raw.githubusercontent.com/outbreak-info/JHU-CSSE/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

#create edited csv test file with only

def create_test_file(filename):
    data = pd.read_csv(f'{filename}', header=0)
    edited_data = data.head(1)
    return data

def rename_columns_cases():
    df = use_melt(create_test_file(csv_file))
    df.columns = ['Country/Region', 'Date', 'Cases', 'Cumulative Cases']
    return df


def create_deaths_file(filename):
    data = pd.read_csv(f'{filename}', header=0)
    edited_data = data.head(1)
    return data


def rename_columns_deaths():
    df = use_melt(create_deaths_file(deaths_file))
    df.columns = ['Country/Region', 'Date', 'Deaths', 'Cumulative Deaths']
    return df
    
def join_death_data():
    cum_sum_cases = rename_columns_cases()
    cum_sum_deaths = rename_columns_deaths()
    print(cum_sum_cases)
    new_file = pd.merge(cum_sum_cases,cum_sum_deaths, on=['Date', 'Country/Region'])
    return new_file

join_death_data()

  Country/Region       Date  Cases  Cumulative Cases
0    Afghanistan 2020-01-22      1                 1
1        Albania 2020-01-22      2                 2
2    Afghanistan 2020-01-23      2                 3
3        Albania 2020-01-23      4                 6
4    Afghanistan 2020-01-24      3                 6
5        Albania 2020-01-24      6                12
6    Afghanistan 2020-01-25      4                10
7        Albania 2020-01-25      8                20
8    Afghanistan 2020-01-26      5                15
9        Albania 2020-01-26     10                30

,Country/Region,Date,Cases,Cumulative Cases,Deaths,Cumulative Deaths
0,Afghanistan,2020-01-22,1,1,0,0
1,Albania,2020-01-22,2,2,0,0
2,Afghanistan,2020-01-23,2,3,0,0
3,Albania,2020-01-23,4,6,0,0
4,Afghanistan,2020-01-24,3,6,0,0
5,Albania,2020-01-24,6,12,0,0
6,Afghanistan,2020-01-25,4,10,0,0
7,Albania,2020-01-25,8,20,0,0
8,Afghanistan,2020-01-26,5,15,0,0
9,Albania,2020-01-26,10,30,0,0

In [276]:
"""
This cell is for testing the cumulative sum function with the test file created above
"""

def calc_cum_sum():
    death_data = use_melt(create_test_file('/Users/kaleighjaeger/Desktop/Test_CSV_4.csv'))
    death_data.columns = ['Country/Region', 'Date', 'Cases', 'Cumulative Cases']
    return death_data
    
calc_cum_sum()

def calculate_percent_increase():
    death_data = calc_cum_sum()
    death_data['Percent Increase'] = death_data['Cases'].pct_change()
    
    return death_data
        
calculate_percent_increase()

  Country/Region       Date  Cases  Cumulative Cases  Percent Increase
0    Afghanistan 2020-01-22      1                 1               NaN
1    Afghanistan 2020-01-23      2                 3          1.000000
2    Afghanistan 2020-01-24      3                 6          0.500000
3    Afghanistan 2020-01-25      4                10          0.333333
4    Afghanistan 2020-01-26      5                15          0.250000