In [3]:
import pandas as pd 
from pull_covid_data import pull_covid_data

pull_covid_data()

def load_to_memory(filename):
    data = pd.read_csv(f'{filename}', header=0) 
    return data

time_series = '/Users/kaleighjaeger/Scripps/epidemiology/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
dataframe = load_to_memory(time_series)

def use_melt(df):
    print('Using Melt Function')
    melt_df = pd.melt(df, id_vars=['Country/Region'], value_vars=list(df.columns[4:]))
    return melt_df
    
use_melt(dataframe)

Here is the status update of COVID-19:

On branch master
Your branch is up to date with 'origin/master'.

nothing to commit, working tree clean
Here is the status update of COVID-19:

On branch master
Your branch is up to date with 'origin/master'.

nothing to commit, working tree clean
Using Melt Function

            Country/Region variable   value
0              Afghanistan  1/22/20       0
1                  Albania  1/22/20       0
2                  Algeria  1/22/20       0
3                  Andorra  1/22/20       0
4                   Angola  1/22/20       0
...                    ...      ...     ...
141031             Vietnam  6/15/21   11304
141032  West Bank and Gaza  6/15/21  311948
141033               Yemen  6/15/21    6864
141034              Zambia  6/15/21  115824
141035            Zimbabwe  6/15/21   40318

[141036 rows x 3 columns]