In [197]:
import pandas as pd 
from pull_covid_data import pull_covid_data


pull_covid_data()

def load_to_memory(filename):
    data = pd.read_csv(f'{filename}', header=0) 
    return data

time_series = '/Users/kaleighjaeger/Scripps/epidemiology/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
dataframe = load_to_memory(time_series)

def use_melt(df):
    print('Using Melt Function')
    melt_df = pd.melt(df, id_vars=['Country/Region'], value_vars=list(df.columns[4:]))
    melt_df.columns = ['Country/Region', 'Date', 'Cases']
    melt_df['Date'] = pd.to_datetime(melt_df['Date'])
    print(melt_df)
    
    melt_df['Cumulative Sum'] = melt_df.groupby(['Country/Region']).cumsum()
    print(melt_df.tail())
    
    return melt_df
    
use_melt(dataframe)

Here is the status update of COVID-19:

On branch master
Your branch is up to date with 'origin/master'.

nothing to commit, working tree clean
Using Melt Function
            Country/Region       Date   Cases
0              Afghanistan 2020-01-22       0
1                  Albania 2020-01-22       0
2                  Algeria 2020-01-22       0
3                  Andorra 2020-01-22       0
4                   Angola 2020-01-22       0
...                    ...        ...     ...
144277             Vietnam 2021-06-23   13989
144278  West Bank and Gaza 2021-06-23  313015
144279               Yemen 2021-06-23    6898
144280              Zambia 2021-06-23  137026
144281            Zimbabwe 2021-06-23   43480

[144282 rows x 3 columns]
            Country/Region       Date   Cases  Cumulative Sum
144277             Vietnam 2021-06-23   13989          874724
144278  West Bank and Gaza 2021-06-23  313015        49592417
144279               Yemen 2021-06-23    6898         1132819
144280              Zambia 2021-06-23  137026        16267248
144281            Zimbabwe 2021-06-23   43480         7489103

            Country/Region       Date   Cases  Cumulative Sum
0              Afghanistan 2020-01-22       0               0
1                  Albania 2020-01-22       0               0
2                  Algeria 2020-01-22       0               0
3                  Andorra 2020-01-22       0               0
4                   Angola 2020-01-22       0               0
...                    ...        ...     ...             ...
144277             Vietnam 2021-06-23   13989          874724
144278  West Bank and Gaza 2021-06-23  313015        49592417
144279               Yemen 2021-06-23    6898         1132819
144280              Zambia 2021-06-23  137026        16267248
144281            Zimbabwe 2021-06-23   43480         7489103

[144282 rows x 4 columns]

In [ ]:
import unittest

class TestAnalysis(unittest.testcase):
  def test_cumulative_sum(self):
    df = ... # perform computation
    assert df[df['Country/Region'] == 'Andorra'] & df['date'] == '2021-06-03'] == xxx #
    assert df[df['Country/Region'] == 'California'] & df['date'] == '2020-08-13'] == yyyy